<!DOCTYPE html>
<html>

<head>
    <title>SuanBan Video {{item.VideoId}} {{item.VideoName}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
</head>

<body>

    
    <main role="main" class="container extra-bottom">
        <h1 class="mt-5">Video {{item.VideoId}} {{item.VideoName}}</h1>
        <!-- <a href= />Homepage</a>
        <a href=/video.html>Videos</a> -->

        <ul>
            <li><a href=/>Home</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a class="active" href="/video.html">Videos</a></li>
            <li><a href="/category.html">Category</a></li>
            <li style="float:right"><a href="/logout">{{username}}Logout</a></li>
        </ul>


        <h2 class="mt-5">Original Name {{item.OriginalName}}</h2>

        <div class="container">    
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="Search Task">Rate a movie</button>
    
            <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Label">Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="task-form-display">Score</span>
                        <input type="text" class="form-control" placeholder="Description of task" aria-label="task-name" aria-describedby="basic-addon1">
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submit-task" type="button" class="btn btn-primary" data-bs-toggle="modal">Save changes</button>
                </div>
                </div>
            </div>
            </div>
    
        </div>
        <div class="container">    
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="Edit Task">Delete your rate</button>
    
            <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Label">Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="task-form-display">Score</span>
                        <input type="text" class="form-control" placeholder="Description of task" aria-label="task-name" aria-describedby="basic-addon1">
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submit-task" type="button" class="btn btn-primary" data-bs-toggle="modal">Save changes</button>
                </div>
                </div>
            </div>
            </div>
    
        </div>

        <h5 class="mt-5">Video Rate</h5>
        <p class="mt-5">{{item.AvgRate}}</p>
        <h5 class="mt-5">Video Description</h5>
        <p class="mt-5">{{item.VideoDescription}}</p>
        <h5 class="mt-5">Start Year</h5>
        <p class="mt-5">{{item.StartYear}}</p>
        <h5 class="mt-5">End Year</h5>
        <p class="mt-5">{{item.EndYear}}</p>
        <h5 class="mt-5">Runtime Minutes</h5>
        <p class="mt-5">{{item.RuntimeMinutes}}</p>
        <h5 class="mt-5">Category Id</h5>
        <p class="mt-5">{{item.CategoryId}}</p>
        <h5 class="mt-5">Category Name</h5>
        <p class="mt-5">{{item.CategoryName}}</p>
        <h5 class="mt-5">Category Description</h5>
        <p class="mt-5">{{item.CategoryDescription}}</p>
    </main>


    <div class="container table-responsive">
    <table class="table" id="people-table">
        <thread>
        <tr>
            <th class="task-id">PeopleId</th>
            <th class="task">ParticipateDescription</th>
            <th class="task">PeopleName</th>
            <th class="task">BirthYear</th>
            <th class="task">DeathYear</th>
            <th class="task">PeopleDescription</th>
        </tr>
        </thread>
        <tbody>
        {% for person in people %}
        <tr>
            <td>{{person.PeopleId}}</td>
            <td>{{person.ParticipateDescription}}</td>
            <td>{{person.PeopleName}}</td>
            <td>{{person.BirthYear}}</td>
            <td>{{person.DeathYear}}</td>
            <td>{{person.PeopleDescription}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <footer class="footer">
        <div class="container">
              <p class="text-muted"><small>App developed for CS411 UIUC by OurSQL Team</small></p>
        </div>
    </footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/video_page.js') }}"></script>


</html>